@import "tailwindcss";

* {
  box-sizing: border-box;
}

.masonry {
  /* column-count: 4; */
  column-gap: 1rem;
}

.masonry>image {
  break-inside: avoid;
}

.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  text-decoration-color: #000000;
  color: #000;
}